.App {
  text-align: center;
  background-color: #00457c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-header {
  text-align: start;
  font-size: calc(10px + 2vmin);
  padding-left: 3%;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.data {
  width: 100%;
  display: flex;
  flex-direction: row;

  color: white;
  justify-content: space-around;
  padding-left: 2%;
}

h1 {
  font-size: 20px;
}

.data > div {

  text-align: center;

}

.posts {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.posts > div {
  background-color: cadetblue;
}

footer {
  padding-left: 5%;
}